body{

  background: #F9F7F7 ;
 height: 100vh;
  background-size: cover;
}

h2{
  text-align: center;
  display: flex; 
  list-style: none;
  text-align: right;
  justify-content: flex-end;
  justify-content: space-evenly;
}

#navbar{
  color: #112D4E;
  font-size: 1rem;
  display: flex;
  justify-content:flex-end;
  text-decoration: none;
  transform: translateY(-300%);
}

.link-to{
  text-decoration: none;
  color: white;
}
ul{
  list-style: none;
  display: flex;
  color: white;
  font-size:.8rem;
  flex-direction: column;
  justify-content: flex-start;
}
.nav-item{
  list-style-type:none;
  text-decoration: none;
  padding-left:20px;
  padding-right: 20px;
}

footer{
}

#signup{
  text-align: center;
  
}
#contact{
text-align: center;
display: flex;
justify-content: space-evenly;
}
.card{
/* background-color: red; */
padding-left: 50px;

}

.card-container{
  display: flex;
  flex-direction: row;
}

h3,h4{
  text-align: center;
}

Button{
  background-color: rgb(66, 202, 77);
  color: white;
  padding: 5px;
  
}
#{
background-color: red;
}