body{

  background: #F9F7F7 ;

  background-size: cover;
}

h2{
  text-align: center;
  display: flex; 
  list-style: none;
  text-align: right;
  justify-content: flex-end;
  justify-content: space-evenly;
}
#navbar{
  color: #112D4E;
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  background-color: #DBE2EF;
}
ul{
  list-style: none;
  display: flex;
  
}
li{
  list-style-type:none;
  text-decoration: none;
}

footer{
  font-size: 16px;
  width: 100%;
 color: white;
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #112D4E;
}
#signup{
  text-align: center;
  
}
#contact{
text-align: center;
display: flex;
justify-content: space-evenly;
}
.card{
/* background-color: red; */
padding-left: 50px;

}

#home{

/* text-align: center; */
}
h3,h4{
  text-align: center;
}

Button{
  background-color: rgb(66, 202, 77);
  color: white;
  padding: 5px;
  
}
#{
background-color: red;
}