body{
  background-image: url('https://e7.pngegg.com/pngimages/977/736/png-clipart-the-olympic-rings-rings-olympic.png');

  background-size: cover;
  color: black;

  
}
div{
  color: rgb(10, 12, 12);
  
}
h2{
  text-align: center;
  color: black;
  display: flex; 
  list-style: none;
  text-align: right;
  justify-content: flex-end;
  justify-content: space-evenly;
}
#navbar{
  display: flex;
  justify-content: flex-end;
  justify-content: space-evenly;
  list-style: none;
}
ul{
  list-style: none;
  display: flex;
  
}
li{
  text-align: center;
  
}
footer{
  font-size: medium;
  display: flex;
  justify-content: flex-end;
  justify-content: space-evenly; 
  padding-top: 420px;
}
#signup{
  text-align: center;
  
}
#contact{
text-align: center;
display: flex;
justify-content: space-evenly;
}
.card{
/* background-color: red; */
padding-left: 50px;

}

#home{

/* text-align: center; */
}
h3,h4{
  text-align: center;
}
Button{
  background-color: rgb(66, 202, 77);
  color: white;
  padding: 5px;
  
}
